/* *{
    border:1px solid red;
} */


body{
    background-image: url('./images/Background_one_piece_by_xxhxaxx-d5jxfks.jpg');
    background-size:1500px 600px;
    
}

nav{
    display:flex;
    justify-content:right;
    gap:10px;
}

#content{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100%;
    width:100%
}

h1{
    display:flex;
    justify-content:center
}

.baratie{
    margin-top:20px;
    height:minmax(10%, 550px);
    width:minmax(50%, 550px);
}

.employees{
    margin:10px;
    height:300px;
    width:300px;
}

.employeesText{
    font-weight:bold
}

.food{
    margin:10px;
    margin-top:-10px;
    height:250px;
    width:250px;
}

.foodText{
    font-weight:bold;
    width:250px;
}